.Users {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.code {
  color: white;
  background-color: black;
  margin: 0 4px;
  font-style: italic;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}
